:root {
    --primary-bg-color: #0f0e0e;
    --text-color: #fff;
    --main-bg-color: #33051a;
    --main-text-color: #fff;
    --main-btn-bg-color: #fff;
  }
  
  body,
  h1,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }


  /* Add additional styles as needed */
  
  /* Create a container for the main content */
  .container {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
  }
  
  /* Header styling */
  header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  
  /* Navigation styling */
  nav {
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  /* Media player styling */
  .media-player {
    width: 100%;
    margin: 0 auto;
  }
  
  .media-player video {
    max-width: 100%;
    width: 1000px; /* Width will adjust based on screen width*/ 
  }
  
  .custom-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 10px ;
  }
  
  .custom-controls button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .controls-left { /* Seperates the media players controls and places them to the left */
    display: flex;
    gap: 1rem; /* Space between the play, rewind, and fast-forward buttons */
  }
  
  .progress-container { /* Seperates progress bar and places it in the middle, or to the right of the media players controls*/
    flex-grow: 1; /* Let the progress bar take up the remaining space */
    margin: 0 1rem; /* Add spacing between the controls and progress bar */
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #534f4f;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progress-bar span {
    display: block;
    height: 100%;
    background-color: red;
    width: 0;
    transition: width 0.3s ease;
  }

  .controls-right { /* Seperates the fullscreen control and places it to the right of the progress bar */
    display: flex;
  }
  
  /* Footer styling */
  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small; /* Font made smaller */
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }