body {
  background-color: rgb(255, 255, 255) /* Sets background colour of site */
  }

.centered-image, .text-container { /* Creates a container for the text so that it can be aligned left but only as far as the width of the image*/
  max-width: 950px; /* 950px is chosen */
  margin: 0 auto;
}

/*Font types imported from google fonts*/
.koh-santepheap-thin {
  font-family: "Koh Santepheap", serif;
  font-weight: 100;
  font-style: normal;
}

.koh-santepheap-light {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-style: normal;
}

.koh-santepheap-regular {
  font-family: "Koh Santepheap", serif;
  font-weight: 400;
  font-style: normal;
}

.koh-santepheap-bold {
  font-family: "Koh Santepheap", serif;
  font-weight: 700;
  font-style: normal;
}

/* Text used for webpage title */
h1 {
  font-family: "Koh Santephea", serif;
  font-size: 120px;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: "Koh Santepheap", serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
  margin: auto;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-style: normal;
  padding-top: 10px;
  text-align: left;
}

ol li {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Ensure consistent font family */
  font-size: 18px; /* Ensure consistent font size */
}

a {
  font-family: "Koh Santepheap", serif;
  font-size: large;
  color: black;
}

.centered-image {
  width: 100%;
  height: auto; /* Aspect ratio is maintained depending on the width */
  display: block;
}